---
import '../styles/main.css'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import BaseHead from '../components/BaseHead.astro'

const links = [
	{
		title: 'Portifólio',
		link: '/me',
		external: false,
	},
	{
		title: 'Github',
		link: 'https://github.com/carlos8v',
		external: true,
	},
	{
		title: 'Linkedin',
		link: 'https://linkedin.com/in/carlos8v',
		external: true,
	}
]

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-zinc-950 text-white min-h-full min-h-screen flex flex-col justify-center items-center">
		<section class="mb-8 w-full max-w-2xl">
			<img src="https://avatars.githubusercontent.com/u/53836455?v=4" width="128" height="128" class="rounded-full w-32 mb-4 mx-auto" />
			<p class="text-center">
				<span class="font-medium">Carlos Souza</span><br />
				<span class="font-thin">FullStack Developer</span>
			</p>
		</section>
		<section class="w-full max-w-md px-5">
			{links.map(({ link, title, external }) => (
				<a href={link} class="w-full block text-center border border-white group mb-6" target={external ? '_blank' : undefined}>
					<div class="w-full block px-4 py-2 w-full bg-white text-black group-hover:-translate-y-[10px] group-hover:-translate-x-[8px] group-hover transition ease-out">
						{title}
					</div>
				</a>
			))}
		</section>
	</body>
</html>
