---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;
---

<a href={href} class="cursor-pointer text-zinc-400 transition mr-4 hover:text-blue-500 hover:underline" {...props}>
	<slot />
</a>
