---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h2 class="text-2xl font-bold  my-4">
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="#about">Sobre</HeaderLink>
		<HeaderLink href="#skills">Competências</HeaderLink>
		<HeaderLink href="#projects">Projetos</HeaderLink>
		<HeaderLink href="https://github.com/carlos8v" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
