---
import '../styles/skill.css'

const { name, src, alt, level, color } = Astro.props
---

<div class="skill-card">
  <p>{name}</p>
  <img src={src} alt={alt}>
  <div
    class="skill-level"
    style={{
      '--level': level,
      '--color': color
    }}
  >
  </div>
</div>
